.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0;
    margin: 0;
    background-color: gray;
}

.header > ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search{
    float: right;
    margin-top: 10px;
    color: white;
}
.link{
    color: white;
    text-decoration: none;
}