:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div > ul{
  list-style: none;
  gap: 15px;
}

.homediv > .data{
  margin: 10px;
}

h1 {
  text-align: center;
  background-color: #275066;
  color: white;
  margin: 10px 0
}

.register{
  text-align: center;
  display: flex;
  margin-top: 20px;
  margin-inline: auto;
  justify-content: center;
  padding: 10px;
}

.register-main{
  text-align: center;
  padding: 10px;
}

form{
  width: 45%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-inline: 5%;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
}

.input{
  margin-bottom: 20px;
  width: 70%;
  padding: 10px;
  border:none;
  border-radius: 5px;
  border-bottom: 1px solid black;
  background-color: rgb(255, 253, 253);
  outline: none;
}

label{
  width: 100%;
  text-align: start;
  margin-left: 32%;
  margin-bottom: 5px;
}

button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 70%;
  background-color: #275066;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

.users-div{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;background-color: rgb(238, 238, 242);
  margin: 10px;
  border-radius: 5px;
}

.user {
  margin: 5px;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(194, 194, 194);
  width: 65%;
  margin-inline: auto;
}
li {
  margin: auto;
  display: flex;
  width: 95%;
}
img{
  width: 45%;
  border-radius: 15px;
}
div>li>div{
  text-align: left;
  width: 80px;
}

.remove {
  color: #275066;
  font-weight: 500;
  font-size: 20px;
  margin-right: 120px;
  transition: transform 1000 ease;
}
.remove :hover {
  cursor: pointer;
  transform: scale(1.05);
}

.icon1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pageno{
  border: 1px solid black;
  border-radius: 70%;
  padding-left: 10px;
  background-color: #275066;
  color: white;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: start;
}

.pageno:hover {
  cursor: pointer;
}

.key{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.edit{
  color: #275066;
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
  transition: transform 1000 ease;
}

.edit :hover {
  cursor: pointer;
  transform: scale(1.05);
}

.editdelete{
  background-color: white;
  border-radius: 38px;
  margin-top: 5px;
  padding: 2px;
}

.popi{
  margin: 5px;
  border: none;
  padding: 15px;
  height: 20px;
  outline: none;
  border-radius: 20px;
  width: 70%;
}